body {
    display: flex;
}

section {
    height: 20dvh;
    width: 20dvw;
    border: 1px solid black;
    border-radius: 20px;
}

section:nth-child(1) {
    background-color: rgb(158, 0, 0);
}
section:nth-child(2) {
    background-color: rgb(158, 0, 0);
}
section:nth-child(3) {
    background-color: rgb(158, 0, 0);
}